.h1_1 {
    color: rgb(92, 95, 255);
    font-size: 40px;
}


.menu_button {
    background-color: #4CAF50;
    color: white;
    /* outline: 2px solid black; */
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    line-height: 40px;
    /* heightとそろえる */
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    /* 改行 */

    display: flex;
    /* Flexbox を有効にする */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: center;
    /* 水平方向に中央揃え */

    /* ボタンの横幅と縦幅を指定 */
    width: 270px;
    height: 40px;
}
.menu_button:hover {
    background-color: #51eec7;
}


.select_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    /* Flexbox を有効にする */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: center;
    /* 水平方向に中央揃え */
    width: 120px;
    height: 40px;
}
.select_button:hover {
    background-color: #51eec7;
}

.yes_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    /* Flexbox を有効にする */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: center;
    /* 水平方向に中央揃え */
    width: 120px;
    height: 40px;
}
.yes_button:hover {
    background-color: #51eec7;
}

.no_button {
    background-color: #f24343;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    /* Flexbox を有効にする */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: center;
    /* 水平方向に中央揃え */
    width: 120px;
    height: 40px;
}
.no_button:hover {
    background-color: #ff8181;
}


.image_gallery {
    background-color: #ffd9ec;
    color: white;
    border: 2px solid black;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}





/* 表示範囲 */
.overlay-base {
    position: absolute;
    /* 絶対位置指定 */
    top: 50%;
    /* 上端を画面の中央に配置 */
    left: 50%;
    /* 左端を画面の中央に配置 */
    transform: translate(-50%, -50%);
    /* 中央揃え */
    width: 100vw;
    /* 画像の最大幅を100%に制限 */
    height: 100vh;
    /* 画像の最大高さを100%に制限 */
    overflow: hidden;
    background-color: #f24343;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* テキストを画面下部に配置 */
}

/* 背景を表示 class */
/* .image_back_class {
    margin: 0;
    padding: 0;
    background-image: url('/back/class_day.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

/* 背景を表示 */
.image_back {
    position: absolute;
    /* 絶対位置指定 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;
    /* 背景より前面に表示 */
}

@media screen and (max-aspect-ratio: 16/9) {
    .image_back {
        /* ウィンドウが縦長の場合に適用するスタイルをここに記述 */
        position: absolute;
        /* 絶対位置指定 */
        top: 50%; /* 上端を画面の中央に配置 */
        left: 50%; /* 左端を画面の中央に配置 */
        transform: translate(-50%, -50%); /* 中央揃え */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 177.78vh;
        height: 100vh;
        z-index: 1;
        /* 背景より前面に表示 */
    }
}



/* セリフの名札 */
.main-text-name {
    background-color: rgb(0, 85, 61);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: -3.9vh 8.9vw;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;

    /* ボタンの横幅と縦幅を指定 */
    max-width: 16vw;
    height: 2.3vw;
}

/* 画面中央に配置 */
.center-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(125, 51, 51);
    /* テキストの色を設定 */
    padding: 20px;
    z-index: 2;
    /* キャラクターより前面に表示 */
}

/* セリフ（左寄せ） */
.main-text {
    background-color: rgba(225, 255, 226, 0.7);
    /* 0.7は透明度を示します（0から1の範囲） */
    ;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #000;
    /* 輪郭の幅と色 */
    border: 2px solid rgb(0, 85, 61);
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 4px 2px;
    border-radius: 15px;
    cursor: pointer;

    /* ボタンの横幅と縦幅を指定 */
    width: 80vw;
    height: 15vh;
}

/* メニュー右上設置 */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    /* 他のスタイルも必要に応じて追加 */
}


/* 背景を表示 title */
.image_back_title {
    margin: 0;
    padding: 0;
    background-image: url('/back/title.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    /* 画面の高さを100%に設定 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* テキストを画面下部に配置 */
}










.input_text {
    background-color: #fdffdc;
    color: rgb(0, 114, 74);
    border: 2px solid rgb(0, 114, 74);
    padding: 10px 20px;
    text-align: center;
    line-height: 40px;
    /* heightとそろえる */
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 5px;
    display: flex;
    /* Flexbox を有効にする */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: center;
    /* 水平方向に中央揃え */
    width: 540px;
    height: 40px;
}

.confirmation_modal {
    background-color: #fdffdc;
    color: rgb(0, 114, 74);
    border: 2px solid rgb(0, 114, 74);
    padding: 10px 20px;
    text-align: center;
    line-height: 40px;
    /* heightとそろえる */
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 5px;
    display: flex;
    /* Flexbox を有効にする */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: center;
    /* 水平方向に中央揃え */
    display: inline-block;
}


/* 選択肢全体 */
.choices-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 中央揃え */
    display: flex;
    flex-direction: column;
    z-index: 2;
}

/* 選択肢 */
.choice-container {
    background-color: rgba(225, 255, 226, 0.7);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #000;
    text-align: center;
    font-size: 2vw;
    border: 2px solid rgb(0, 85, 61);
    cursor: pointer;
    padding: 10px; /* 選択肢と枠線の間に余白を設定できます */
    margin: 10px; /* 選択肢の間に余白を設定できます */
    display: inline-block; /* 選択肢が横に並ぶようにします */
}
/* 選択肢（カーソル合わせたとき） */
.choice-container:hover {
    background-color: rgba(232, 255, 252, 0.9);
}


/* 
background-color: #4CAF50;: ボタンの背景色を緑色（#4CAF50）に設定します。
color: white;: ボタンのテキストの色を白色に設定します。
border: 2px solid black;: ボタンの境界線（ボーダー）を2pxの太さで黒色に設定します。このプロパティは、境界線を指定します。
padding: 10px 20px;: ボタンの内側の余白を上下に10px、左右に20px設定します。これにより、ボタンの内容が境界線から離れ、見栄えが良くなります。
text-align: center;: ボタン内のテキストを中央寄せにします。
text-decoration: none;: テキストのデコレーション（アンダーラインなど）をなしに設定します。通常、ボタンではデコレーションをなくすことが一般的です。
display: inline-block;: ボタンを行内ブロック要素として表示します。行内ブロック要素は、横に並ぶが高さと幅の指定が可能な要素です。
font-size: 16px;: テキストのフォントサイズを16pxに設定します。
margin: 4px 2px;: ボタンの外側の余白を上下に4px、左右に2px設定します。ボタン同士の間隔を調整するために使用されます。
cursor: pointer;: ボタン上でマウスがポインターに変わるようにします。通常、クリッカブルな要素に対して設定されます。
border-radius: 5px;: ボーダーの角を5pxの半径で丸めます。これにより、ボタンの角が丸くなります。
display: block;: このプロパティは、不要なようです。前述の display: inline-block; が既に指定されており、このプロパティはその上書きになります。削除しても問題ないでしょう。 
*/